.venv/
venv/
env/
ml-env/

__pycache__/
*.pyc
*.pyo
*.pyd

.ipynb_checkpoints/
notebooks/

data/processed/
data/interim/

tests/
.pytest_cache/
.coverage
htmlcov/

.git/
.gitignore

.vscode/
.idea/

.DS_Store
Thumbs.db

*.log

info/

.streamlit/